# Temas: Imputación de datos faltantes
<br/><br/>

<center>
    
## Taller de Ciencia de Datos
### Omar Piña Ramírez
### Instituto Nacional de Perinatología
### Departamento de Bioinformática y Análisis Estadísticos
### Investigador en Ciencias Médicas
### delozath@gmail.com
</center>

In [1]:
import numpy  as np
import pandas as pd

import ipywidgets as widgets
from   ipywidgets import interact, interact_manual, FloatSlider, Layout

import chart_studio.plotly as py
import plotly.graph_objs  as go
from   plotly.offline import iplot, init_notebook_mode

import cufflinks
cufflinks.go_offline(connected=True)
init_notebook_mode (connected=True)

### Leer datos

In [2]:
PATH      = './data/'
file      = 'cardiovascular_imputacion.csv'
file_test = 'cardiovascular.csv'

df_missing  = pd.read_csv(PATH + file)
df_complete = pd.read_csv(PATH + file_test)
df_missing #df_complete

,ind,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,1,160,12.00,5.73,23.11,Present,49,25.30,97.20,52.0,1
1,2,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63.0,1
2,3,118,0.08,3.48,32.28,Present,52,29.14,3.81,46.0,0
3,4,170,7.50,6.41,38.03,Present,51,31.99,24.26,NaN,1
4,5,134,13.60,NaN,27.78,Present,60,25.99,57.34,49.0,1
...,...,...,...,...,...,...,...,...,...,...,...
457,459,214,0.40,5.98,31.72,Absent,64,28.45,0.00,58.0,0
458,460,182,4.20,4.41,32.10,Absent,52,28.61,18.72,52.0,1
459,461,108,3.00,1.59,15.23,Absent,40,20.09,26.64,55.0,0
460,462,118,5.40,11.61,30.79,Absent,64,27.35,23.97,40.0,0
461,463,132,0.00,4.82,33.41,Present,62,14.70,0.00,46.0,1

### Datos faltantes

In [3]:
query = df_missing.isna().any(axis=1) #missing data in any column
df    = df_missing[query]
df

,ind,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
3,4,170,7.50,6.41,38.03,Present,51,31.99,24.26,NaN,1
4,5,134,13.60,NaN,27.78,Present,60,25.99,57.34,49.0,1
28,29,144,4.09,NaN,31.40,Present,60,29.43,5.55,56.0,0
36,37,140,3.90,NaN,25.05,Absent,47,27.36,36.77,32.0,0
43,44,130,2.61,2.72,22.99,Present,51,26.29,13.37,NaN,1
49,50,126,3.80,3.88,31.79,Absent,57,30.53,0.00,NaN,0
72,73,130,5.60,NaN,24.80,Absent,58,25.76,43.20,36.0,0
79,80,108,0.40,5.91,22.92,Present,57,25.72,72.00,NaN,0
86,87,126,10.50,NaN,17.33,Absent,67,19.37,0.00,49.0,1
99,100,164,12.00,3.91,19.59,Absent,51,23.44,19.75,NaN,0
115,116,128,0.00,NaN,31.81,Present,46,28.41,14.66,48.0,0
135,136,122,4.18,NaN,29.27,Present,44,24.05,19.34,52.0,1
141,142,130,2.78,NaN,9.39,Present,63,19.30,17.47,25.0,1
154,155,124,3.04,NaN,19.52,Present,60,21.78,147.19,NaN,1
182,183,170,4.20,NaN,35.45,Present,50,27.14,7.92,60.0,1
183,184,156,4.00,NaN,19.48,Present,50,21.48,27.77,39.0,1
188,189,134,4.80,NaN,29.89,Present,55,24.73,23.66,63.0,0
206,207,162,0.00,NaN,24.60,Present,64,26.71,3.81,18.0,0
222,223,144,2.40,8.13,35.61,Absent,46,27.38,13.37,NaN,0
266,268,118,0.12,4.16,9.37,Absent,57,19.61,0.00,NaN,0
274,276,108,0.80,2.47,17.53,Absent,47,22.18,0.00,NaN,1
301,303,138,2.27,6.41,29.07,Absent,58,30.22,2.93,NaN,1
453,455,124,1.60,7.22,39.68,Present,36,31.50,0.00,NaN,1

### Imputación con medidas de tendencia central

#### Media

In [4]:
col   = 'ldl'
query = df_missing[col].isna() #missing data in column col
df    = df_missing[query]
df

,ind,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
4,5,134,13.60,NaN,27.78,Present,60,25.99,57.34,49.0,1
28,29,144,4.09,NaN,31.40,Present,60,29.43,5.55,56.0,0
36,37,140,3.90,NaN,25.05,Absent,47,27.36,36.77,32.0,0
72,73,130,5.60,NaN,24.80,Absent,58,25.76,43.20,36.0,0
86,87,126,10.50,NaN,17.33,Absent,67,19.37,0.00,49.0,1
115,116,128,0.00,NaN,31.81,Present,46,28.41,14.66,48.0,0
135,136,122,4.18,NaN,29.27,Present,44,24.05,19.34,52.0,1
141,142,130,2.78,NaN,9.39,Present,63,19.30,17.47,25.0,1
154,155,124,3.04,NaN,19.52,Present,60,21.78,147.19,NaN,1
182,183,170,4.20,NaN,35.45,Present,50,27.14,7.92,60.0,1
183,184,156,4.00,NaN,19.48,Present,50,21.48,27.77,39.0,1
188,189,134,4.80,NaN,29.89,Present,55,24.73,23.66,63.0,0
206,207,162,0.00,NaN,24.60,Present,64,26.71,3.81,18.0,0

In [5]:
df_impute   = pd.DataFrame()
mean_impute = df_missing.loc[~query,col].mean()

c_name                   = "{}_by_mean".format(col)
df_impute[c_name]        = df_missing[col]
df_impute[c_name][query] = mean_impute

print(mean_impute)
pd.concat((df_complete.loc[query,col],df_impute[query]),axis=1)

4.717349665924276

       ldl  ldl_by_mean
4     3.50      4.71735
28    5.55      4.71735
36    7.32      4.71735
72    3.37      4.71735
86    4.49      4.71735
115  10.58      4.71735
135   9.05      4.71735
141   4.89      4.71735
154   4.80      4.71735
182   4.67      4.71735
183   2.05      4.71735
188   6.58      4.71735
206   5.09      4.71735

In [6]:
median_impute = np.median(df_missing.loc[~query,col])

c_name                   = "{}_by_median".format(col)
df_impute[c_name]        = df_missing[col]
df_impute[c_name][query] = median_impute

print(median_impute)
pd.concat((df_complete.loc[query,col],df_impute[query]),axis=1)

4.31

       ldl  ldl_by_mean  ldl_by_median
4     3.50      4.71735           4.31
28    5.55      4.71735           4.31
36    7.32      4.71735           4.31
72    3.37      4.71735           4.31
86    4.49      4.71735           4.31
115  10.58      4.71735           4.31
135   9.05      4.71735           4.31
141   4.89      4.71735           4.31
154   4.80      4.71735           4.31
182   4.67      4.71735           4.31
183   2.05      4.71735           4.31
188   6.58      4.71735           4.31
206   5.09      4.71735           4.31

### Imputación por KNN (k-nearest neighbours)

#### Distancia euclidiana

In [7]:
#df_missing  = df_missing.drop(columns='ind')
to_replace = {'famhist':{'Present':1,
                         'Absent' :0} }

df_missing = df_missing.replace(to_replace)
df_missing = df_missing.drop(columns='ind')
df_missing

,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
0,160,12.00,5.73,23.11,1,49,25.30,97.20,52.0,1
1,144,0.01,4.41,28.61,0,55,28.87,2.06,63.0,1
2,118,0.08,3.48,32.28,1,52,29.14,3.81,46.0,0
3,170,7.50,6.41,38.03,1,51,31.99,24.26,NaN,1
4,134,13.60,NaN,27.78,1,60,25.99,57.34,49.0,1
...,...,...,...,...,...,...,...,...,...,...
457,214,0.40,5.98,31.72,0,64,28.45,0.00,58.0,0
458,182,4.20,4.41,32.10,0,52,28.61,18.72,52.0,1
459,108,3.00,1.59,15.23,0,40,20.09,26.64,55.0,0
460,118,5.40,11.61,30.79,0,64,27.35,23.97,40.0,0
461,132,0.00,4.82,33.41,1,62,14.70,0.00,46.0,1

In [8]:
from sklearn.impute import KNNImputer

imputer       = KNNImputer(n_neighbors=3)
df_impute_knn = pd.DataFrame(imputer.fit_transform(df_missing),columns=df_missing.columns)
df_impute_knn[query]

,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
4,134.0,13.60,3.333333,27.78,1.0,60.0,25.99,57.34,49.000000,1.0
28,144.0,4.09,6.020000,31.40,1.0,60.0,29.43,5.55,56.000000,0.0
36,140.0,3.90,3.356667,25.05,0.0,47.0,27.36,36.77,32.000000,0.0
72,130.0,5.60,3.683333,24.80,0.0,58.0,25.76,43.20,36.000000,0.0
86,126.0,10.50,4.616667,17.33,0.0,67.0,19.37,0.00,49.000000,1.0
115,128.0,0.00,3.576667,31.81,1.0,46.0,28.41,14.66,48.000000,0.0
135,122.0,4.18,3.863333,29.27,1.0,44.0,24.05,19.34,52.000000,1.0
141,130.0,2.78,3.223333,9.39,1.0,63.0,19.30,17.47,25.000000,1.0
154,124.0,3.04,3.830000,19.52,1.0,60.0,21.78,147.19,41.666667,1.0
182,170.0,4.20,6.386667,35.45,1.0,50.0,27.14,7.92,60.000000,1.0
183,156.0,4.00,4.406667,19.48,1.0,50.0,21.48,27.77,39.000000,1.0
188,134.0,4.80,3.996667,29.89,1.0,55.0,24.73,23.66,63.000000,0.0
206,162.0,0.00,4.336667,24.60,1.0,64.0,26.71,3.81,18.000000,0.0

In [9]:
pd.concat((df_complete.loc  [query,col],
           df_impute        [query]    ,
           df_impute_knn.loc[query,col]    
          ),axis=1)

       ldl  ldl_by_mean  ldl_by_median       ldl
4     3.50      4.71735           4.31  3.333333
28    5.55      4.71735           4.31  6.020000
36    7.32      4.71735           4.31  3.356667
72    3.37      4.71735           4.31  3.683333
86    4.49      4.71735           4.31  4.616667
115  10.58      4.71735           4.31  3.576667
135   9.05      4.71735           4.31  3.863333
141   4.89      4.71735           4.31  3.223333
154   4.80      4.71735           4.31  3.830000
182   4.67      4.71735           4.31  6.386667
183   2.05      4.71735           4.31  4.406667
188   6.58      4.71735           4.31  3.996667
206   5.09      4.71735           4.31  4.336667

In [10]:
@interact
def impute_comparison(select_colum=['ldl','age'], k=(2,50,1)):
    query = df_missing[select_colum].isna() #missing data in c@lumns select_colum

    df_impute   = pd.DataFrame()
    mean_impute = df_missing.loc[~query,select_colum].mean()

    c_name                   = "{}_by_mean".format(select_colum)
    df_impute[c_name]        = df_missing[select_colum]
    df_impute[c_name][query] = mean_impute

    median_impute = np.median(df_missing.loc[~query,select_colum])

    c_name                   = "{}_by_median".format(select_colum)
    df_impute[c_name]        = df_missing[select_colum]
    df_impute[c_name][query] = median_impute

    imputer       = KNNImputer(n_neighbors=k)
    df_impute_knn = pd.DataFrame(imputer.fit_transform(df_missing),
                                   columns=df_missing.columns)

    return pd.concat((df_complete.loc  [query,select_colum],
                      df_impute        [query]    ,
                      df_impute_knn.loc[query,select_colum]    
                     ),axis=1)

interactive(children=(Dropdown(description='select_colum', options=('ldl', 'age'), value='ldl'), IntSlider(val…